* {
    margin: 0;
    padding: 0
}

body {
    line-height: 1.6;
    font: 14px/1.6 PingFang SC,Helvetica Neue,Helvetica,STHeitiSC-Light,Arial,sans-serif;
    overflow: hidden;
    background-color: #d7d7d7
}

.container,body,html {
    height: 100%
}

.container {
    position: relative;
    overflow: hidden
}

.main {
    height: 100%;
    padding: 0 0 0 18%;
    overflow: hidden;
    margin-left: 0;
    background-color: hsla(0,0%,100%,.8);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr="#ccffffff",EndColorStr="#ccffffff");
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-animation-name: a;
    animation-name: a;
    -webkit-animation-timing-function: cubic-bezier(0,0,0,1);
    animation-timing-function: cubic-bezier(0,0,0,1);
    -webkit-animation-duration: 1.8s;
    animation-duration: 1.8s
}

.main:not(s) {
    filter: none
}

.sidebar {
    background-color: rgba(39,39,39,.92);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr="#ea272727",EndColorStr="#ea272727");
    height: 100%;
    padding: 70px 33px;
    float: left;
    margin-right: 24%;
    -webkit-animation-name: c;
    animation-name: c;
    -webkit-animation-duration: 1s;
    animation-duration: 1s
}

.sidebar .logo {
    width: 50px;
    height: 42px;
    background: url(//res.wx.qq.com/a/wx_fed/weixin_portal/res/static/css/e4f20393defe8d791328cb41a6616dcf@1x.png);
    font-size: 0;
    background-position: -530px -151px;
    -webkit-background-size: 660px 513px;
    background-size: 660px 513px
}

.sidebar:not(s) {
    filter: none
}

.content {
    -webkit-animation-name: b;
    animation-name: b;
    -webkit-animation-timing-function: cubic-bezier(0,0,0,1);
    animation-timing-function: cubic-bezier(0,0,0,1);
    -webkit-animation-duration: 1.8s;
    animation-duration: 1.8s
}

.mobile-logo {
    display: none;
    width: 34px;
    height: 28px;
    background: url(//res.wx.qq.com/a/wx_fed/weixin_portal/res/static/css/f7788ec608d883c684a83b9483d54046@2x.png);
    font-size: 0;
    background-position: -580px -151px;
    -webkit-background-size: 659px 641px;
    background-size: 659px 641px
}

.slogan {
    margin-top: 270px;
    width: 528px;
    height: 152px;
    background: url(//res.wx.qq.com/a/wx_fed/weixin_portal/res/static/css/e4f20393defe8d791328cb41a6616dcf@1x.png);
    font-size: 0;
    margin-left: -1px;
    background-position: 0 -303px;
    -webkit-background-size: 660px 513px;
    background-size: 660px 513px
}

.slogan.en,.slogan.en_US {
    width: 660px;
    height: 151px;
    background: url(//res.wx.qq.com/a/wx_fed/weixin_portal/res/static/css/e4f20393defe8d791328cb41a6616dcf@1x.png);
    background-position: 0 0;
    -webkit-background-size: 660px 513px;
    background-size: 660px 513px
}

.slogan.zh_HK,.slogan.zh_TW {
    width: 530px;
    height: 152px;
    background: url(//res.wx.qq.com/a/wx_fed/weixin_portal/res/static/css/e4f20393defe8d791328cb41a6616dcf@1x.png);
    background-position: 0 -151px;
    -webkit-background-size: 660px 513px;
    background-size: 660px 513px
}

.tips {
    display: none;
    margin-top: 20px;
    font-size: 12px;
    color: #888
}

.download-area {
    margin-top: 52px;
    -webkit-animation-name: b;
    animation-name: b
}

.download-area a {
    background-color: #000;
    display: inline-block;
    vertical-align: middle;
    border-radius: 4px
}

.download-desc {
    color: #888;
    font-size: 16px;
    margin-top: 20px
}

.icon-download {
    display: inline-block;
    vertical-align: middle;
    width: 238px;
    height: 58px;
    background: url(//res.wx.qq.com/a/wx_fed/weixin_portal/res/static/img/2KoswZf.png) 0 -65px;
    font-size: 0
}

.icon-download.en,.icon-download.en_US {
    background: url(//res.wx.qq.com/a/wx_fed/weixin_portal/res/static/img/2KoswZf.png) 0 -241px
}

.icon-download.zh_HK,.icon-download.zh_TW {
    background: url(//res.wx.qq.com/a/wx_fed/weixin_portal/res/static/img/2KoswZf.png) 0 -417px
}

.icon-download-beta {
    display: inline-block;
    vertical-align: middle;
    width: 240px;
    height: 58px;
    background: url(//res.wx.qq.com/a/wx_fed/weixin_portal/res/static/css/e4f20393defe8d791328cb41a6616dcf@1x.png) no-repeat;
    font-size: 0;
    background-color: transparent!important;
    background-position: 0 -455px;
    -webkit-background-size: 660px 513px;
    background-size: 660px 513px
}

.icon-download-beta:active {
    background: url(//res.wx.qq.com/a/wx_fed/weixin_portal/res/static/css/e4f20393defe8d791328cb41a6616dcf@1x.png) no-repeat;
    background-color: transparent!important;
    background-position: -240px -455px;
    -webkit-background-size: 660px 513px;
    background-size: 660px 513px
}

@media (-webkit-device-pixel-ratio: 2) {
    .icon-download-beta {
        display:inline-block;
        vertical-align: middle;
        width: 240px;
        height: 58px;
        background: url(//res.wx.qq.com/a/wx_fed/weixin_portal/res/static/css/f7788ec608d883c684a83b9483d54046@2x.png) no-repeat;
        font-size: 0;
        background-color: transparent!important;
        background-position: -227px -519px;
        -webkit-background-size: 659px 641px;
        background-size: 659px 641px
    }

    .icon-download-beta:active {
        background: url(//res.wx.qq.com/a/wx_fed/weixin_portal/res/static/css/f7788ec608d883c684a83b9483d54046@2x.png) no-repeat;
        background-color: transparent!important;
        background-position: 0 -583px;
        -webkit-background-size: 659px 641px;
        background-size: 659px 641px
    }
}

.footer {
    bottom: 120px;
    margin-top: 160px;
    font-size: 12px
}

.lang-area a,.link-area a {
    display: inline-block;
    color: #888;
    text-decoration: none;
    border-left: 1px solid;
    line-height: 1;
    padding: 0 10px
}

.lang-area a.first-item,.lang-area a:first-child,.link-area a.first-item,.link-area a:first-child {
    border-left: 0;
    padding-left: 0
}

.link-area {
    margin-top: 26px
}

.copyright {
    margin-top: 10px;
    color: #888
}

video {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
    .sidebar .logo {
        width:50px;
        height: 42px;
        background: url(//res.wx.qq.com/a/wx_fed/weixin_portal/res/static/css/f7788ec608d883c684a83b9483d54046@2x.png);
        background-position: -530px -151px;
        -webkit-background-size: 659px 641px;
        background-size: 659px 641px
    }

    .slogan {
        width: 529px;
        height: 152px;
        background: url(//res.wx.qq.com/a/wx_fed/weixin_portal/res/static/css/f7788ec608d883c684a83b9483d54046@2x.png);
        background-position: 0 -303px;
        -webkit-background-size: 659px 641px;
        background-size: 659px 641px
    }

    .slogan.en,.slogan.en_US {
        width: 659px;
        height: 151px;
        background: url(//res.wx.qq.com/a/wx_fed/weixin_portal/res/static/css/f7788ec608d883c684a83b9483d54046@2x.png);
        background-position: 0 0;
        -webkit-background-size: 659px 641px;
        background-size: 659px 641px
    }

    .slogan.zh_HK,.slogan.zh_TW {
        width: 530px;
        height: 152px;
        background: url(//res.wx.qq.com/a/wx_fed/weixin_portal/res/static/css/f7788ec608d883c684a83b9483d54046@2x.png);
        background-position: 0 -151px;
        -webkit-background-size: 659px 641px;
        background-size: 659px 641px
    }
}

@media (max-width: 320px) {
    .main {
        margin-left:40px;
        padding-left: 25px
    }
}

@media (max-width: 620px) {
    .mobile-logo,.tips.mobile {
        display:block
    }

    .download-area.mobile,.footer,.sidebar {
        display: none
    }

    .slogan {
        margin-top: 155px;
        width: 227px;
        height: 64px;
        background: url(//res.wx.qq.com/a/wx_fed/weixin_portal/res/static/css/f7788ec608d883c684a83b9483d54046@2x.png);
        font-size: 0;
        background-position: 0 -519px;
        -webkit-background-size: 659px 641px;
        background-size: 659px 641px
    }

    .slogan.en,.slogan.en_US {
        width: 250px;
        height: 64px;
        background: url(//res.wx.qq.com/a/wx_fed/weixin_portal/res/static/css/f7788ec608d883c684a83b9483d54046@2x.png);
        background-position: -265px -455px;
        -webkit-background-size: 659px 641px;
        background-size: 659px 641px
    }

    .slogan.zh_HK,.slogan.zh_TW {
        width: 265px;
        height: 64px;
        background: url(//res.wx.qq.com/a/wx_fed/weixin_portal/res/static/css/f7788ec608d883c684a83b9483d54046@2x.png);
        background-position: 0 -455px;
        -webkit-background-size: 659px 641px;
        background-size: 659px 641px
    }

    .tips {
        margin-top: 10px
    }

    .main {
        padding-left: 35px;
        padding-top: 32px;
        margin-left: 58px
    }

    video {
        display: none
    }

    body {
        background: url(https://res.wx.qq.com/a/wx_fed/common_assets/16081602/mac_weixin2/bg.jpg) no-repeat 0 0;
        background-size: cover
    }

    body .main {
        float: none
    }
}

@media (max-width: 960px) {
    .sidebar {
        display:none
    }
}

@media (max-width: 1280px) {
    .main {
        float:right;
        padding-right: 80px
    }

    .sidebar {
        margin-right: 0
    }
}

@media (max-height: 850px) {
    .footer {
        position:inherit;
        margin-top: 160px
    }
}

@media (min-height: 960px) {
    .footer {
        position:inherit;
        margin-top: 250px
    }
}

.animated {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}

@-webkit-keyframes a {
    0% {
        background-color: hsla(0,0%,100%,0);
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }

    to {
        background-color: hsla(0,0%,100%,.8);
        -webkit-transform: none;
        transform: none
    }
}

@keyframes a {
    0% {
        background-color: hsla(0,0%,100%,0);
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }

    to {
        background-color: hsla(0,0%,100%,.8);
        -webkit-transform: none;
        transform: none
    }
}

@-webkit-keyframes b {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes b {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@-webkit-keyframes c {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%)
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes c {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%)
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}
